.modal-blur-area {
    background-image: linear-gradient( rgba(0, 0, 0, 64%), rgb(0 0 0 / 64%) );
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.modal-container {
    border-radius: 14px;
  width: 588px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.modal-header{
    display: flex;
    padding: 12px
}

.modal-header button{
    background: transparent;
    border: none;
    font-size: 23px;
    margin-right: 44px;
    cursor: pointer;
}
.modal-header h3{
    font-size: 24px;
    margin-top: -3px;
    font-weight: bold;
}

/*modal second css*/

.modal-signin-header{

    display: flex;
    padding: 12px
}
.modal-signin-header img{
    width: 74px;
}
.modal-signin-header button{
    background: transparent;
    border: none;
    font-size: 23px;
    margin-right: 244px;
    cursor: pointer;
}

.modla-signin-body {
    padding: 10px 164px;
}
.modal-signin-content {
    margin-top: 17px;
}
.modal-signin-content h1{
    margin-bottom: 29px
}
.extra{
    margin-top: 19px;
}
.second-form input{
    border: 1px solid #dddfe2;
    width: 301px;
    padding: 18px 11px;
    margin: 15px 0px;
    outline-color: #1d9bf0;
    font-size: 19px;
    border-radius: 4px;
}
.second-form button{
    margin-top: 7px;
    margin-bottom: 20px;
    padding: 8px 1px;
    border-radius: 21px;
    background-color: black;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    width: 304px;
}
button.second-submit {
    background-color: white !important;
    color: black !important;
    border: 1px solid #c8ccd4  !important;
    font-size: 16px;
    font-weight: bold;
}

form p{
    font-size: 18px;
    margin: 21px 0px;
    color: #171a21;
}
form a{
    color: rgb(29, 155, 240);
}
form a:hover{
    text-decoration: underline;
}